#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  all: unset;
  padding: 0.5rem 1rem;
  background-color: #e6e6e6;
  border: 2px solid #a1a1a1;
}

input {
  all: unset;
  font-size: 1.2rem;
  background-color: #fff;
  border: 2px solid #a1a1a1;
  text-align: left;
  padding: 0 10px;
}

.header {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
    font-size: 16px;
  }

  .header {
    font-size: 18px;
  }
  img {
    width: 150px;
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  /* main {
    flex-direction: column;
  } */
}
